@model Entities.BookBE
@{
    ViewBag.Title = "Add";
}

<title>Add Books</title>
<script>

</script>
<style>
    html body {
        background-color:#1F618D;
        padding: 0;
        font-style: italic;
        font-family: sans-serif;
        font-weight: bold;
    }

    h1 {
        font-style: italic;
        font-family: sans-serif;
        color:#17202A;
        font-weight: bold;
    }
</style>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<body>
    <div class="container">
        <h1>Add your book here</h1>
        <form method="post" action="@Url.Action("Add", "Book")">           
            <div class="form-group">
                <label for="formGroupExampleInput2">TITLE</label>              
                <input type="text" pattern="" class="form-control" id="Title" name="Title" placeholder="Title">
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput2">AUTHOR</label>
                <input type="text" class="form-control" id="Author" name="Author" placeholder="Author">
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput2">GENRE</label>
                <input type="text" class="form-control" id="Genre" name="Genre" placeholder="Genre">
            </div>
            <button type="submit" class="btn btn-warning">Submit</button>
        </form>
    </div>
</body>

