@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Contact</title>
    <style>
        html body {
            background-color:#D4AC0D;
            padding: 0;
            font-style: italic;
            font-family: sans-serif;
            font-weight: bold;
        }

        h1 {
            font-style: italic;
            font-family: sans-serif;
            color:#000000;
            font-weight: bold;
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <h1>Location</h1>
        <p>123 High St London<br />E17 7LD<br />United Kingdom</p>
    </div>
</body>
</html>
