@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>LIVROS DA LIVRARIA</title>
    <style>
        * {
            box-sizing: border-box;
        }

        html, body {
            margin: 0;
            padding: 0;
        }

        ul {
            list-style-type: none;
        }

        li a {
            display: block;
            padding: 30px;
        }

        li {
            float: left;
        }

            li a:hover {
                background-color: #D68910;
            }

        nav {
            width: 100%;
            height: 50px;
            background-color: darkcyan;
        }

        header {
            width: 100%;
            height: 100px;
            background: #CB4335;
            position: relative;
        }

        section {
            width: 100%;
            height: 900px;
            background-color: #9A7D0A;
        }

        footer {
            width: 100%;
            height: 70px;
            background: #7E5109;
        }
    </style>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="home">Home</a></li>
                <li><a href="livros">Livros</a></li>
                <li><a href="Emprestar">Como Emprestar</a></li>
                <li><a href="contatos">Contatos</a></li>
            </ul>
        </nav>
    </header>
    <section>
        <h2>Dados Dos Livros</h2>
        <ul>
            <li></li>
        </ul>
    </section>
    <footer></footer>
</body>
</html>